@import '~bpk-mixins';

.TicketsSection {
  display: flex;
  margin-top: $bpk-spacing-md;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__noFlightsPanel {
    font-size: $bpk-spacing-md;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  &__spinner {
    margin: 0 auto;
    text-align: center;
  }
}
