@import '~bpk-mixins';

.SearchControls {
  &__mainPanel {
    background-color: $bpk-color-monteverde;
  }
  &__checkBoxPanel {
    display: flex;
    margin: $bpk-spacing-xs;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

    @include bpk-breakpoint-tablet {
      flex-direction: row;
    }
  }
  &__checkBox {
    margin: $bpk-spacing-xs;
  }
  &__bottomPanel {
    display: flex;
    margin: $bpk-spacing-xs;
    justify-content: space-between;
    align-items: center;

    @include bpk-breakpoint-tablet {
      flex-direction: column;
    }
  }
  &__searchPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include bpk-breakpoint-mobile {
      flex-direction: column;
    }
  }
  &__datePanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__passengersPanel {
    display: flex;
    align-items: center;

    @include bpk-breakpoint-tablet {
      flex-direction: column;
    }
  }
  &__nudgersPanel {
    display: flex;
    align-items: center;

    @include bpk-breakpoint-tablet {
      margin-top: $bpk-spacing-sm;
    }

    @include bpk-breakpoint-mobile {
      flex-direction: column;
    }
  }
  &__searchButton {
    padding: $bpk-spacing-sm $bpk-spacing-lg;
    font-size: $bpk-spacing-base;

    @include bpk-breakpoint-tablet {
      margin-top: $bpk-spacing-sm;
    }
  }
}
