@import '~bpk-mixins';

.SearchControls{
  &__checkBoxPanel {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin: $bpk-spacing-xs;
  }
  &__checkBox {
    margin: $bpk-spacing-xs;
  }
  &__bottomPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $bpk-spacing-xs;
  }
  &__searchPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__datePanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__passengersPanel {
    display: flex;
    align-items: center;
  }
  &__searchButton {
    font-size: 1.5rem;
    padding: $bpk-spacing-sm $bpk-spacing-lg;
  }
}
