@import '~bpk-mixins';

.Ticket{
  margin: $bpk-spacing-sm 0 $bpk-spacing-sm 0;

  @include bpk-breakpoint-mobile {
    margin: $bpk-spacing-md 0 $bpk-spacing-md 0;
  }

  &__stub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
  }

  &__marketAgentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__legContainer{
    margin: $bpk-spacing-sm 0 $bpk-spacing-sm 0;
  }

  &__departureArrivalContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__durationStopsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__bookButton{
    font-size: 1.25rem;
  }

  &__price{
    font-size: 1.5rem;
    margin-top: 0;
  }
}
