@import '~bpk-mixins';

.Ticket {
  width: 100%;
  margin: $bpk-spacing-sm 0 $bpk-spacing-sm 0;

  @include bpk-breakpoint-mobile {
    margin: $bpk-spacing-md 0 $bpk-spacing-md 0;
  }

  &__stub {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &__marketAgentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__legContainer {
    margin: $bpk-spacing-sm 0 $bpk-spacing-sm 0;
  }

  &__departureArrivalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__durationStopsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__bookButton {
    font-size: $bpk-spacing-base;
  }

  &__price {
    margin-top: 0;
    font-size: $bpk-spacing-base;
  }
}
